p {
  font-family: Montserrat;
  margin-top: 0px;
  margin-bottom: 0px;
}
.model-text {
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 8px;
}
.order-text {
  font-size: 37px;
}
.underlined-text {
    text-decoration: underline;
}
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
