p {
  font-family: Arial;
  font-size: 14px;
  margin: 0px;
}
.container {
  display: grid;
  grid-template-columns: 300px;
}
.video-info-div {
  margin-top: 6px;
  display: grid;
  grid-template-columns: 48px 1fr;
}
.video-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}
.channel {
  margin-bottom: 4px;
}